.header {
  width: 100%;
  /* background-color: #0f172a; */
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
    display: flex;
  align-items: center;
}

.search-container {
    flex: 4; /* takes remaining space  */
   border-radius: 8px solid black;
  height: 40px;
  width: 80px;
  align-items: center; 
justify-content: center; 
}

.search-input {
  padding: 20px;
 font-size: 0.95rem;
}

.search-input::placeholder {
  color: black;
}