.header {
  width: 100%;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
    display: flex;
  align-items: center;
}
/* Search bar container */
.search-box {
  width: 900px;
  height: 52px;
  border-radius: 2px solid black; /* rectangle, not pill */
  /* padding: 0 12px; */
  background-color: gainsboro;
}

/* Icon */
.search-icon {
  font-size: 1rem;
  color: black;
  margin-right: 8px;
  padding: 2%;
}

/* Input */
.search-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  color: black;
}


